<%- include('./partials/header.ejs') %>
    <main class="home flex-column">
        <%if(error) {%>
            <p style="font-size: 14px;" class="text-center w-50 mx-auto text-danger alert alert-danger p-2 m-3 " id="para">
                <%- error -%>
            </p>
            <%}%>
        <div class="login_container">
            <h1 class="text-center text-white">Login</h1>
            <form action="/login" method="post" class="form">
                        <div class="controls">
                            <div class="input input1">
                                <input type="email" name="email" id="mail">
                                <label for="" id="email">Email</label>
                            </div>
                            <div class="input input2">
                                <input type="password" name="password" id="pass" autocomplete="off" required>
                                <img src="/images/visible.png" alt=""
                                    style="width: 20px;height:20px;margin-right:5px;cursor:pointer" id="check">
                                <label for="" id="passLabel">Password</label>
                            </div>
                            <div class="input input3">
                                <button type="submit" id="sub_btn">Login</button>
                            </div>
                        </div>
            </form>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>